.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 1% auto 0 auto;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35%;
  margin: 1% 0 0.5% 0;
  height: 15vh;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1% 0;

  p {
    padding-left: 30%;
  }

  button {
    width: 65%;
    margin: 0.5% auto;
    background-color: gold;
    border-radius: 5px;
  }
}