.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: 1% auto 0 auto;
  height: 100%;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 35%;
  margin: 1% 0 0.5% 0;
  height: 20vh;
  min-height: 140px;
  border: 1px solid $grey;
  border-radius: 5px;
  padding: 1% 0;

  p {
    padding-left: 30%;
  }

  button {
    width: 65%;
    margin: 0.5% auto;
    background-color: $gold;
    border-radius: 3px;
    border: none;

    &:hover {
      background-color: $white;
    }
  }
}