.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 1% auto 0 auto;
  background-color: lightgreen; //for testing only

  .card {
    width: 40%;
    background-color: grey; //for testing only
  }
}