.login-page {
  @include display(flex, center);
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  position: absolute;
  background-color: $gold;
  z-index: 99;
  color: $black;
  text-align: center;

  h3 {
    font-size: 3em;
    padding-bottom: 10%;
  }

  div {
    padding-bottom: 1%;
  }

  button {
    width: 30%;
    height: 3%;
    margin: 0 auto;
    color: $white;
    background-color: $black;
    border-radius: 3px;
    border: none;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}