/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
// ;

// body {
//   background: $primary-background;
// }
@import 'reset';
@import 'fullPage';
@import 'headerSection';
@import 'mainSection';
@import 'searchBarSection';
@import 'cardContainer';
@import 'mediaQueries';